.AddWeek {
    height: 200px;
    position: relative;
    color: white;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #252525;
    width: 70%;
    border-radius: 10px;
  }
  
.AddWeek h2 {
    text-align: center;
  }

.AddWeekItems {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
  