.JobPageMain {
    background-color: lightpink;
    height: 100%;
    padding: 10px;
    width: 100%;
    margin: auto;
    align-content: center;
    align-items: center;
  }
  
  .JobPageMain__jobtitle {
    margin: auto;
    align-content: center;
    justify-content: center;
  }
  
  .JobPageMain__companyname {
    margin: auto;
    align-content: center;
    justify-content: center;
  }
  
  .JobPageMain__interview {
    margin: auto;
    align-content: center;
    justify-content: center;
  }
  
  .JobPageMain__postedurl {
    margin: auto;
    align-content: center;
    justify-content: center;
  }
  
  .JobPageMain__jobrating {
    margin: auto;
    align-content: center;
    justify-content: center;
  }
  
  .JobPageMain__content {
    margin: auto;
    align-content: center;
    justify-content: center;
  }
  
  
  
  .jobInfo {
    margin: auto;
    align-content: center;
    align-items: center;
  }
  
  .JobPageMain__content {
    color: #3a3939;
    max-width: 380px;
  }
  
  .JobPageMain__jobtitle {
    color: #3a3939;
    max-width: 380px;
    padding-top: 12px;
  }
  
  .JobPageMain__companyname {
    color: #3a3939;
    max-width: 380px;
    padding-top: 12px;
  }
  
  .JobPageMain__interview {
    color: #3a3939;
    max-width: 380px;
    padding-top: 12px;
  }
  
  .JobPageMain__jobrating {
    color: #3a3939;
    max-width: 380px;
    padding-top: 12px;
  }
  
  .JobPageMain__postedurl {
    color: #3a3939;
    max-width: 380px;
    padding-top: 12px;
  }
  