.AddJob {
    height: 500px;
    position: relative;
    color: white;
    text-align: center;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #8F2222;
    width: 70%;
    border-radius: 10px;
  }
  
.AddJob h2 {
    text-align: center;
  }

.AddJobItems {
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }






